@import "../../../common/sass/mixins";
@import "../../../common/sass/variables";

.user-activity{
	position: relative;
	width: 100%;
	overflow: hidden;
	.activity-header{
		position: relative;
		width: 100%;
		overflow: hidden;
		p{
			position: absolute;;
			right: 0;
			bottom: 0;
			width: 50%;
			height: 0.8rem;
			line-height: 0.8rem;
			padding: 0 0.266667rem;
			background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.6));
		    background: -o-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.6));
		    background: -moz-linear-gradient(right, rgba(0,0,0,0), rgba(0,0,0,.6));
		    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.6));
			color: $color-f;
			text-align: right;
			@include fontsize(14px);
			z-index: 10;
			i{
				@include fontsize(16px);
			}
		}
		a{
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;
			img{
				display: block;
				width: 100%;
			}
		}
	}
	.activity-textarea{
		position: relative;
		width: 100%;
		padding: 0 0.2rem;
		display: inline-block;
		img{
			display: inline-block;
		}
		p{
			position: relative;
			display: inline-block;
			width: 100%;
			overflow: hidden;
			.two{
				display: block;
				float: left;
				width: 50% !important;
			}
		}
	}
	.activity-nav{
		position: relative;
		display: block;
		width: 100%;
		height: 1.133333rem;
		background-color: $color-f;
		z-index: 200;
		overflow: hidden;
		.activity-nav-left{
			float: left;
			width: 1.6rem;
			&.on{
				color: $color-3;
			}
		}
		.activity-nav-right{
			width: 0.8rem;
			float: right;
		}
		.activity-nav-left,.activity-nav-right{
			position: relative;
			line-height: 1.133333rem;
			text-align: center;
			@include fontsize(14px);
			i{
				position: relative;
			    display: inline-block;
			    margin-left: .133333rem;
				-webkit-transform: rotate(90deg);
			    -ms-transform: rotate(90deg);
			    -webkit-transform: rotate(90deg);
			    transform: rotate(90deg);
			}
		}
		.activity-nav-cont{
			position: relative;
			width: -webkit-calc(100% - 2.4rem);
			width: -moz-calc(100% - 2.4rem);
			width: calc(100% - 2.4rem);
			float: left;
			height: 1.133333rem;
			overflow: hidden;
			&:before,&:after{
				position: absolute;
				display: block;
				content: '';
				width: 1px;
				height: 0.733333rem;
				background-color: #dadada;
				top: 0.2rem;
			}
			&:before,{
				left: 0;
			}
			&:after{
				right: 0;
			}
			a{
				display: block;
				width: auto;
				padding: 0 0.266667rem;
				height: 1.133333rem;
				float: left;
				text-align: center;
				@include fontsize(14px);
				span{
					display: inline-block;
					line-height: 1.106667rem;
				}
				&.active span{
					color: $color-3;
					border-bottom: 2px solid $color-3;
				}
			}
		}
	}
	.active-nav-list{
		position: fixed;
		display: none;
		left: 0;
		width: 100%;
		text-align: center;
		border-top: 1px solid #dadada;
		background-color: $color-f;
		overflow: hidden;
		z-index: 299;
		ul{
			position: relative;
			width: 100%;
			min-height: 4.666667rem;
			display: block;
			overflow: hidden;
			li{
				display: block;
				width: 100%;
				padding: 0 0.266667rem;
				height: 0.933333rem;
				@include fontsize(14px);
				line-height: 0.933333rem;
				text-align: left;
				position: relative;
			    display: -webkit-box;
			    display: -moz-box;
			    display: -ms-box;
			    display: box;
			    word-wrap: break-word;
			    word-break: break-all;
			    -webkit-line-clamp: 1;
			    -moz-line-clamp: 1;
			    -ms-line-clamp: 1;
			    -o-line-clamp: 1;
			    -webkit-box-orient: vertical;
			    -moz-box-orient: vertical;
			    -ms-box-orient: vertical;
			    -o-box-orient: vertical;
			    overflow: hidden;
				&.on{
					color: $color-3;
					background-color: #f9e4ea;
				}
			}
		}
	}
	.active-nav-lei{
		position: fixed;
		width: 100%;
		display: none;
		left: 0;
		border-top: 1px solid #dadada;
		background-color: $color-f;
		overflow: hidden;
		z-index: 299;
		ul{
			position: relative;
			width: 100%;
			min-height: 4.666667rem;
			display: block;
			overflow: hidden;
			li{
				float: left;
				width: 25%;
				height: 0.933333rem;
				text-align: center;
				@include fontsize(14px);
				span{
					display: inline-block;
					line-height: 0.906667rem;
				}
				&.on span{
					color: $color-3;
					border-bottom: 2px solid $color-3;
				}
			}
		}
	}
	.activity-cont{
		position: relative;
		width: 100%;
		padding-bottom: 0.266667rem;
		overflow: hidden;
		ul{
			padding: 0;
			li{
				width: -webkit-calc(100% * 1 / 2 - 0.066667rem);
		        width: -moz-calc(100% * 1 / 2 - 0.066667rem);
		        width: calc(100% * 1 / 2 - 0.066667rem);
		        border: $border-width solid $border-color;
		        margin: 0.133333rem 0.066667rem 0 0.066667rem;
		        background-color: $color-f;
		        &:nth-child(odd){
		        	margin-left: 0;
		        }
		        &:nth-child(even){
		        	margin-right: 0;
		        }
		        .video-img{
		        	position: relative;
		        	&:before{
		        		display: none;
		        	}
		        	span{
						position: absolute;
			        	display: block;
			        	top: 0;
			        	right: 0.266667rem;
						padding: 0 .133333rem;
						height: 0.533333rem;
						line-height: 0.533333rem;
						@include fontsize(12px);
						color: $color-f;
						background: $color-3;
						z-index: 3;
						overflow: hidden;
		        	}
		        	label{
		        		position: absolute;
		        		display: block;
		        		left: 0.333333rem;
		        		bottom: 0;
		        		padding: 0 0.106667rem;
		        		line-height: 0.506667rem;
		        		border: 1px solid $color-3;
		        		@include fontsize(11px);
		        		color: $color-3;
		        		background: rgba($color-f, .2);
		        		z-index: 3;
		        	}
		        	em{
		        		position: absolute;
			        	display: block;
			        	top: 0;
			        	left: 0.266667rem;
						padding: 0 .133333rem;
						height: 0.533333rem;
						line-height: 0.533333rem;
						@include fontsize(12px);
						color: $color-f;
						background: $color-3;
						z-index: 3;
						overflow: hidden;
		        	}
		        	.no_cartData{
				        position: absolute;
				        top: 19%;
				        left: 15%;
				        width: 62%;
				        height: 70%;
				        text-align: center;
				        span{
				            position: absolute;
				            /* Firefox */
				            display:-moz-box;
				            -moz-box-pack:center;
				            -moz-box-align:center;
				            /* Safari, Chrome, and Opera */
				            display:-webkit-box;
				            -webkit-box-pack:center;
				            -webkit-box-align:center;
				            display:box;
				            box-pack:center;
				            box-align:center;
				            top: 0;
				            left: 0;
				            width: 100%;
				            height: 100%;
				            line-height: 100%;
				            z-index: 3;
				            color: #fff;
				            text-indent: -99999px;
				        }
				        .shouqing{
				            background: url(/dist/images/shouqing.png) center center no-repeat;
				            background-size: 100%;
				        }
				        .xiajia{
				            background: url(/dist/images/xiajia.png) center center no-repeat;
				            background-size: 100%;
				        }
				        i{
				            position: absolute;
				            display: block;
				            top: 0;
				            left: 0;
				            width: 100%;
				            height: 100%;
				            border-radius: 9999px;
				            background-color: #000;
				            opacity: .7;
				            filter: alpha(opacity=70);
				            z-index: 2;
				        }
				    }
		        }
		        .video-title{
		        	height: 1.066667rem;
		        	line-height: 0.466667rem;
		        	padding-left: 0.266667rem;
		        	padding-right: 0.266667rem;
		        }
		        .video-product-price{
		        	position: relative;
		        	height: 0.733333rem;
		        	line-height: 0.733333rem;
		        	padding-left: 0.266667rem;
		        	padding-right: 0.266667rem;
		        	overflow: hidden;
		        	span{
		        		@include fontsize(16px);
		        		i{
		        			font-style: normal;
		        			@include fontsize(12px);
		        		}
		        		em{
		        			font-style: normal;
		        			color: $color-3;
		        		}
		        	}
		        	del{
		        		color: #999;
		        		@include fontsize(11px);
		        	}
		        	label{
		        		padding: 0.066667rem 0 0.066667rem 0.4rem;
		        		float: right;
		        		@include fontsize(18px);
		        		color: $color-3;
		        	}
		        }
			}
		}
	}
}
