// Colors
$brand-primary:				#ff3574 !default;

$gray-black:				#000 !default;
$gray-base:					#333 !default;
$gray-light:				#666 !default;
$gray-lighter:				#999 !default;
$color-f:                   #fff !default;
$color-1:                   #f04f00 !default;
$color-2:                   #ecb200 !default;
$color-3:                   #ff3574 !default;
$color-4:                   #ed1b1b !default;

//Alpha
$alpha-0:                   0 !default;

// Links
//
// Style anchor elements.

$link-color:            	$brand-primary !default;
$link-decoration:       	none !default;
$link-hover-color:      	darken($link-color, 15%) !default;
$link-hover-decoration: 	underline !default;

// Components
//

$line-height-lg:         	(4 / 3) !default;
$line-height-sm:         	1.5 !default;

$border-radius:          	0.053333rem !default;
$border-radius-lg:       	0.106667rem !default;
$border-radius-sm:       	1px !default;

$border-width: 				1px !default;
$border-color:				#ddd !default;

// Grid columns
$grid-columns:				10 !default;
$grid-gutter-width:			0.266667rem !default;

// Typography
//
$font-size-base: 			14px;
$font-size-lg:   			16px !default;
$font-size-sm:   			12px !default;
$text-color-base:			$gray-base;

$cursor-disabled:           not-allowed !default;

// Buttons
//

$btn-padding-x:                  0.293333rem !default;
$btn-padding-y:                  0.186667rem !default;
$btn-line-height:                1.25 !default;
$btn-font-weight:                normal !default;
$btn-box-shadow:                 inset 0 0.026667rem 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075) !default;
$btn-active-box-shadow:          inset 0 1px 0.066667rem rgba(0,0,0,.125) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;

$btn-link-disabled-color:        $gray-light !default;

$btn-border-radius:              $border-radius !default;
$btn-border-radius-lg:           $border-radius-lg !default;
$btn-border-radius-sm:           $border-radius-sm !default;

$input-btn-border-width:         $border-width !default;


// list variable
$list-padding-y:				0.333333rem !default;
$list-padding-x:				0.266667rem !default;
$list-header-line-height:		$line-height-lg !default;
$list-border:					$border-width solid $border-color !default;

$input-height:					1rem;

// Forms

$input-padding-x:                0.333333rem !default;
$input-padding-y:                0.2rem !default;
$input-line-height:              1.25 !default;

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $text-color-base !default;
$input-border-color:             rgba(0,0,0,.15) !default;
$input-btn-border-width:         $border-width !default; // For form controls and buttons
$input-box-shadow:               inset 0 1px 1px rgba(0,0,0,.075) !default;

$input-border-radius:            $border-radius !default;

$input-color-placeholder:        #999 !default;


$input-bg-focus:                 $input-bg;
$input-border-focus:             $brand-primary !default;
$input-color-focus:              $input-color;
$input-box-shadow-focus:         rgba(102,175,233,.6) !default;

$input-group-addon-bg:           #eee !default;
$input-group-addon-border-color: $input-border-color !default;

$input-padding-x-sm:             0.213333rem !default;
$input-padding-y-sm:             0.106667rem !default;

$input-padding-x-lg:             0.32rem !default;
$input-padding-y-lg:             0.16rem !default;
