<!DOCTYPE html>
<html>
<head>
<title>微店商学院</title>
<!--=include ../../../module/public_header.html -->
<link href="/dist/css/user/ws-school.css" rel="stylesheet" inline>
</head>
<body>
    <div class="school-cont" id="masker">
        <div class="masker masker-200"></div>
        <div class="school-list">
            <ul>
                <li>
                    <h3 class="masker-box" style="padding-left: 0"><div class="masker masker-block"></div><div class="masker masker-block"></div></h3>
                    <p class="masker" style="height: 100px; margin-bottom: 0"></p>
                    <span class="masker">................</span>
                </li>
                <li>
                    <h3 class="masker-box" style="padding-left: 0"><div class="masker masker-block"></div><div class="masker masker-block"></div></h3>
                    <p class="masker" style="height: 100px; margin-bottom: 0"></p>
                    <span class="masker">................</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="school-cont root" id="js-school">
        <img src="/dist/images/img/arrow.png" class="array" alt="">
        <div class="school-list" v-for="(key, val) in info">
        	<div class="school-list-title" v-if="key == 7">
        		<h2>新手入门</h2>
        		<img src="/dist/images/wsSchool_1.jpg" alt="新手入门">
        	</div>
        	<div class="school-list-title" v-if="key == 8">
        		<h2>美妆专业知识</h2>
        		<img src="/dist/images/wsSchool_3.jpg" alt="美妆专业知识">
        	</div>
        	<div class="school-list-title" v-if="key == 9">
        		<h2>销售技能提升</h2>
        		<img src="/dist/images/wsSchool_2.jpg" alt="销售技能提升">
        	</div>
        	<div class="school-list-title" v-if="key == 10">
                <h2>女神学院</h2>
                <img src="/dist/images/wsSchool_4.jpg" alt="女神学院">
            </div>
        	<ul>
        		<li v-for="list in val">
        			<a href="/page/user/weixinText.html?&article_id={{list.article_id}}">
        				<h3><i v-if="list.isbest == 1" class="icon-jing">【精】</i>{{list.title}}</h3>
        				<p>{{list.content | replace}}</p>
        				<span>{{list.addtime}}</span>
        			</a>
        		</li>
        	</ul>
        	<div class="school-list-gengduo">
        		<a href="/page/user/wsSchoolList.html?&section_id=7" v-if="key == 7">更多新手入门内容>></a>
        		<a href="/page/user/wsSchoolList.html?&section_id=8" v-if="key == 8">更多美妆专业知识内容>></a>
        		<a href="/page/user/wsSchoolList.html?&section_id=9" v-if="key == 9">更多销售技能提升内容>></a>
        		<a href="/page/user/wsSchoolList.html?&section_id=10" v-if="key == 10">更多女神学院内容>></a>
        	</div>
        </div>
    </div>
    <!--=include ../../../module/commonJs.html -->

    <!-- build:js /dist/js/user/wsSchool.js -->
    <script src="/dist/js/user/wsSchool.js"></script>
    <!-- endbuild -->
</body>
</html>