@font-face {
  font-family: 'miyan-icon';
  src:  url('../fonts/miyan-icon.eot?k6gevb');
  src:  url('../fonts/miyan-icon.eot?k6gevb#iefix') format('embedded-opentype'),
    url('../fonts/miyan-icon.ttf?k6gevb') format('truetype'),
    url('../fonts/miyan-icon.woff?k6gevb') format('woff'),
    url('../fonts/miyan-icon.svg?k6gevb#miyan-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'miyan-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-hot:before {
  content: "\e900";
  color: #ff78a0;
}
.icon-clocks:before {
  content: "\e901";
}
.icon-zan:before {
  content: "\e902";
}
.icon-carts:before {
  content: "\e903";
}
.icon-open_tq .path1:before {
  content: "\e904";
  color: rgb(200, 170, 100);
}
.icon-open_tq .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-phb_1 .path1:before {
  content: "\e906";
  color: rgb(253, 185, 96);
}
.icon-phb_1 .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-phb_2 .path1:before {
  content: "\e908";
  color: rgb(249, 120, 57);
}
.icon-phb_2 .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-phb_3 .path1:before {
  content: "\e90a";
  color: rgb(199, 145, 101);
}
.icon-phb_3 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-phb_4 .path1:before {
  content: "\e90c";
  color: rgb(181, 180, 180);
}
.icon-phb_4 .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.icon-yq_cj .path1:before {
  content: "\e90e";
  color: rgb(255, 151, 183);
}
.icon-yq_cj .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yq_fs .path1:before {
  content: "\e910";
  color: rgb(146, 218, 251);
}
.icon-yq_fs .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-yq_name .path1:before {
  content: "\e912";
  color: rgb(193, 222, 160);
}
.icon-yq_name .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-aliwap:before {
  content: "\e914";
}
.icon-arrow:before {
  content: "\e915";
}
.icon-bond:before {
  content: "\e916";
}
.icon-car:before {
  content: "\e917";
}
.icon-cart:before {
  content: "\e918";
}
.icon-checkmark:before {
  content: "\e919";
}
.icon-check-on:before {
  content: "\e91a";
}
.icon-check-off:before {
  content: "\e91b";
}
.icon-reward:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e91d";
}
.icon-package:before {
  content: "\e91e";
}
.icon-person-work:before {
  content: "\e91f";
}
.icon-plane:before {
  content: "\e920";
}
.icon-polygon-success:before {
  content: "\e921";
}
.icon-sad:before {
  content: "\e922";
}
.icon-shop:before {
  content: "\e923";
}
.icon-trash:before {
  content: "\e924";
}
.icon-yfk:before {
  content: "\e925";
}
.icon-wallet-outline:before {
  content: "\e926";
}
.icon-film:before {
  content: "\e927";
}
.icon-wechat:before {
  content: "\e928";
}
.icon-location:before {
  content: "\e929";
}
.icon-spinner:before {
  content: "\e92a";
}
.icon-loop:before {
  content: "\e92b";
}
.icon-falg:before {
  content: "\e92c";
}
.icon-question:before {
  content: "\e92d";
}
.icon-iphone:before {
  content: "\e92e";
}
.icon-lock:before {
  content: "\e92f";
}
.icon-integral:before {
  content: "\e930";
}
.icon-share:before {
  content: "\e931";
}
.icon-voice:before {
  content: "\ea27";
}
