<!DOCTYPE html>
<html>
<head>
<title>进货订单</title>
<!--=include ../../../module/public_header.html -->
<link href="/dist/css/user/order-list.css" rel="stylesheet" inline>

</head>
<body>
	<!--=include ../../../module/order_masker.html -->
	<div class="order-list root" id="order-list">
		<nav class="order-list-nav" id="order-list-nav">
			<ul>
				<li><a href="/page/user/orderDetialAll.html?type=0">全部</a></li>
				<li><a href="/page/user/orderDetialAll.html?type=1">待付款</a></li>
				<li><a href="/page/user/orderDetialAll.html?type=2">待发货</a></li>
				<li><a href="/page/user/orderDetialAll.html?type=3">待收货</a></li>
			</ul>
			<a href="/page/user/reward.html" class="nav-ad">
                <img src="/dist/images/cart_banner.jpg">
            </a>
		</nav>
		<section class="order-lists" v-for="list in info" track-by="$index">
			<div class="order-list-header">
				<div class="left">{{list.order_option.statusTxt}}</div>
				<div class="right" v-if="list.order_option.gsyj == 1">月结订单</div>
			</div>
			<div class="order-list-cont list">
				<a v-if="list.order_option.order_id.substring(0,6) == 'MZSHOP'" href="javascript:;">
				<ul>
					<li v-for="item in list.product_list">
						<div class="list-box">
							<div class="list-img">
								<img class="img-fluid lz" src="/dist/images/indexImg/shopBg.jpg" data-original="{{item.img_url}}" alt="{{item.title}}">
							</div>
							<div class="list-wraps">
								<div class="list-wrap">
									<div class="list-cont">
										<div class="list-title">{{item.title}}</div>
										<div class="list-order-list">￥{{item.price}}<span>x {{item.count}}</span></div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				</a>
				<a v-else href="/page/user/orderDetial.html?order_id={{list.order_option.order_id}}">
				<ul>
					<li v-for="item in list.product_list">
						<div class="list-box">
							<div class="list-img">
								<img class="img-fluid lz" src="/dist/images/indexImg/shopBg.jpg" data-original="{{item.img_url}}" alt="{{item.title}}">
							</div>
							<div class="list-wraps">
								<div class="list-wrap">
									<div class="list-cont">
										<div class="list-title">{{item.title}}</div>
										<div class="list-order-list">￥{{item.price}}<span>x {{item.count}}</span></div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
				</a>
			</div>
			<div class="order-list-bottom">
				<p>共 {{list.order_option.total_num}} 件商品,合计：<span>￥{{list.order_option.price  | currency ''}}</span><label v-if="list.order_option.post_price > 0">(含运费￥{{list.order_option.post_price}})</label></p>
				<div class="order-list-cont-button">
					<template v-if="list.order_option.status == 1">
					<!-- <a v-if="list.order_option.order_id.substring(0,6) == 'MZSHOP'" href="/page/user/open-checkout.html">去支付</a> -->
					<a  href="/page/cart/pay.html?oid={{list.order_option.order_id}}">去支付</a>
					</template>
					<!-- <a v-if="list.order_option.status == 1" href="javascript:;" data-index="{{$index+1}}" v-tap.stop="cancelPay(list.order_option.order_id,($index+1))" class="cancel">取消订单</a> -->
					<a class="sure" v-if="list.order_option.status == 3" v-tap.stop="surePay(list.order_option.order_id,($index+1))" href="javascript:;">确认收货</a>
					<a class="wuliu" v-if="list.order_option.status == 3" href="{{list.order_option.wuliu_num}}">查看物流</a>
				</div>
			</div>
		</section>
		<div class="gengduo-ajax"><i></i><span id="loading">上拉加载更多...</span></div>
		<div class="order-no-list">
			<p>暂无订单数据</p>
			<a href="/page/user/reward.html">销售订单任务奖励高达6800元！去了解 >></a>
		</div>
	</div>
	<!--=include ../../../module/commonJs.html -->

    <!-- build:js /dist/js/user/order-list.js -->
    <script src="/dist/js/user/order-list.js"></script>
    <!-- endbuild -->

</body>
</html>